# Grafana Configuration
GRAFANA_PASSWORD=your_grafana_password_here

# Datasource provisioning secrets
INFLUXDB_RUBISS_PASSWORD=your_influxdb_password_here
INFLUXDB_GRAFANA_TOKEN=your_influxdb_api_token_here

# Alerting (provisioning) secrets
DISCORD_LAWSON_WEBHOOK_URL=your_discord_webhook_url_here
DISCORD_SUNDAY_EDGE_ADMIN_WEBHOOK_URL=your_sunday_edge_admin_discord_webhook_url_here
AUTOBRR_IRC_WEBHOOK_PASSWORD=generate_a_long_random_password
